@{
    ViewData["Title"] = "Blog posts home page";
}

<div class="card">
    <div class="card-body">

        <h5 class="card-title">@ViewData["Title"]</h5>
        <div id="gridContainer"></div>
        <div id="toast"></div>
    </div>
</div>

<script src="~/js/blogpost/blogpost.js?version=1"></script>