@page
@model LoginModel

@{
    Layout = null;
    ViewData["Title"] = "Log in";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Blog Dot Net - Home</title>

    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />

    <link rel="stylesheet" href="https://getbootstrap.com/docs/5.2/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://getbootstrap.com/docs/5.2/examples/sign-in/signin.css" />

    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>

</head>

<body class="text-center">

    <main class="form-signin w-100 m-auto">

        <form id="account" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <i data-feather="bold" style="height:72px;width:72px;color:darkblue"></i>
            
            <h1 class="h3 mb-3 fw-normal">Sign in to Blog Dot Net</h1>

            <div class="form-floating">
                <input type="email" class="form-control" name="Email" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" name="Password" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="RememberMe" value="RememberMe"> Remember me
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        </form>

    </main>

    <script>
        feather.replace()
    </script>
</body>
</html>
